/*
Author: Daniel Zhao, Doris Xian
Base CSS: Blueprint CSS Framework (http://blueprintcss.org/)

  Table of Contents
==================================================
  01 - Reset & Basics
  02 - Global Styles
  03 - Navigation
  04 - Content
  05 - Media Files
*/

/* 01 - Reset & Basics */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
   q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

.clearfix {
  clear: both;
  overflow: hidden;
  *zoom: 1;
  *zoom: 1; }
  .clearfix:after {
    content: "";
    display: table;
    clear: both; }



/* 02 - Global Styles */
body {
  background-color: #F0F0F0; }

html, button, input, select, textarea {
  font-family: 'Lato', sans-serif;
  color: #424242;
  /*  -webkit-text-stroke: 1px transparent;
    -webkit-font-smoothing: antialiased*/ }

a, a:active, a:focus {
  outline: 0; }

p {}

* html {
  font-size: 100%; }

html {
  font-size: 17px;
  line-height: 1.5em; }

a {
  color: #F6492F;
  text-decoration: none; }
  a:hover {
  color: #E70006;
  border-bottom: 2px solid;
  padding-bottom: 2px;
    }
  a:visited {
   }

h1 {
  font-family: 'Gentium Book Basic', serif;
  width: auto;
  display: inline;
  font-size: 2.555em;
  font-weight: bold;
  line-height: 1.41176em;
}

  h1.underline-purple {
    border-bottom: 3px dotted #634877; }
  @media (min-width: 37.6em) and (max-width: 48em) {

    h1 {
      font-size: 2em;
      line-height: 1.6em;
      line-height: 1.5em; } }
  @media (min-width: 0em) and (max-width: 37.5em) {

    h1 {
      font-size: 1.7em;
      line-height: 1.2em;
      line-height: 1.5em; } }


h2, h3 {
  font-family: "open_sanssemibold";
  line-height: 1.5em; }


.txt-large {
  width: 66%;
  float: left;
  margin-right: 2%;
  display: inline;
  margin-top: 1.5em;
  margin-left: 17%;
  margin-right: 17%;
  font-size: 1.5em;
  line-height: 2em;
  line-height: 1.5em; }
  @media (min-width: 48.1em) and (max-width: 64em) {

    .txt-large {
      width: 83%;
      float: left;
      margin-right: 2%;
      margin-left: 8.5%;
      margin-right: 8.5%; } }
  @media (min-width: 37.6em) and (max-width: 48em) {

    .txt-large {
      font-size: 1.375em;
      line-height: 2.18182em;
      line-height: 1.5em;
      width: 83%;
      float: left;
      margin-right: 2%;
      margin-left: 8.5%;
      margin-right: 8.5%; } }
  @media (min-width: 0em) and (max-width: 37.5em) {

    .txt-large {
      font-size: 1em;
      line-height: 1.5em;
      line-height: 1.5em;
      width: 91.5%;
      float: left;
      margin-right: 2%;
      margin-left: 3.25%;
      margin-right: 3.25%; } }

  .txt-large.no-leader {
    margin-top: 0em; }

  .txt-large a {
    font-weight: bold; }

.container {
  *zoom: 1;
  max-width: 1200px;
  _width: 1200px;
  padding-left: 2%;
  padding-right: 2%;
  margin-left: auto;
  margin-right: auto;

  text-align: center !important; }
 
  .container:after {
    content: "";
    display: table;
    clear: both; }

.page-header {
  width: 100%;
  text-align: center;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000; }
  @media (min-width: 0em) and (max-width: 37.5em) {

    .page-header {
      display: none; } }

/* 03 - Navigation */
.fa-bars{
  color: #C9C9C9;
  border: 1px solid #C9C9C9;
  padding: 4px 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.fa-bars:hover{
  background-color: #C9C9C9;
  color: #2B2A27;
}
.nav-container a:hover{
  border: none;
}
.nav-container {
  -moz-box-shadow: 0 0 8px #A9A9A9;
  -webkit-box-shadow: 0 0 8px #A9A9A9;
  box-shadow: 0 0 8px #A9A9A9;
  text-align: center;
  background: #2B2A27;
  opacity: 0.8;
  margin-bottom: 20px;
  padding-top: 1.05em;
  padding-bottom: 1.05em; }
  @media (min-width: 37.6em) and (max-width: 48em) {

    .nav-container {
      padding-top: 0.975em;
      padding-bottom: 0.75em;
      } 
    }

.page-nav {
  text-align: center; }

  .page-nav a {
    display: inline-block;
    background: #2B2A27;
    color: #F0F0F0;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    letter-spacing: 0.3px;
    margin-left: 1.5em;
    margin-right: 1.5em;
    font-size: 1.3em;
    line-height: 2em; }

    .page-nav a.active{
    }
    @media (min-width: 37.6em){
    .page-nav a:hover {
      color: #FF5035;
      border-top: 2px solid;
      padding-bottom: 2px;
      border-bottom: 2px solid;
      margin-bottom: -4px;
      margin-top: -2px;
    }
  }
      @media (min-width: 0em) and (max-width: 37.5em) {
        .nav-container{
          opacity: 0.95;
        }
        .page-nav a.active{}
        .page-nav a:hover {
          color: #2B2A27;
          font-weight: 700;
          background: #FB6E59;
        }

          .page-nav a.active:last-child, .page-nav a:hover:last-child {
            border-bottom: none; } 
      }
    @media (min-width: 48.1em) and (max-width: 64em) {

      .page-nav a {
        font-size: 1.2em;
        margin-left: 0.6875em;
        margin-right: 0.6875em; } }
    @media (min-width: 37.6em) and (max-width: 48em) {

      .page-nav a {
        font-size: 1.1em;
        margin-left: 0.375em;
        margin-right: 0.625em; } }
    @media (min-width: 37.6em) and (max-width: 41.875em) {

      .page-nav a {
        margin-left: 0.125em;
        margin-right: 0.3125em; } }
    @media (min-width: 0em) and (max-width: 37.5em) {

      .page-nav a {
        font-size: 1em;
        display: block;
        width: 100%;
        margin: 0;
        border-bottom: 0.125em solid #FB6E59;
        padding-top: 0.5em;
        padding-bottom: 0.5em; }

        .page-nav a:last-child {
          border-bottom: none; } }
  @media (min-width: 37.6em) and (max-width: 41.875em) {

    .page-nav > .icon-cancel {
      font-size: 0.75em;
      line-height: 2em; } }
  @media (min-width: 37.6em) and (max-width: 48em) {

    .page-nav {
      font-size: 0.875em;
      line-height: 1.71429em;
      line-height: 1.5em; } }

.nav-mobile {
  display: none;
  text-align: center;
  color: #424242;
  z-index: 10000;
  position: fixed;
  width: 100%;
  height: 3.4375em; }
  @media (min-width: 0em) and (max-width: 37.5em) {

    .nav-mobile {
      display: block; } }

  .nav-mobile h1 {
    background-image: none;
    border-bottom: none;
    font-size: 1.125em;
    line-height: 1.125em;
    visibility: hidden; }
  @media (min-width: 0em) and (max-width: 37.5em) {

    .nav-mobile .nav-container {
      padding-top: 2.2em;
      padding-bottom: 0.6em; } }

  .nav-mobile .page-nav {
    background-color: white;
    width: 100%; }
    @media (min-width: 0em) and (max-width: 37.5em) {

      .nav-mobile .page-nav {
        display: none; } }


.nav-reveal {
  position: absolute;
  right: 0;
  top: 0.25em;
  height: 2.75em;
  width: 2.75em;
  color: #235683;
  font-size: 1.5em;
  line-height: 2em;
  line-height: 2.25em; }

  .nav-reveal:hover {
    color: #1a2b35; }

/*   04 - Content */
#home{
  padding-top: 8em;
}
 @media (min-width: 37.6em) and (max-width: 48em) {
  #home{
    padding-top: 6em;
  }
 }
 @media (min-width: 0em) and (max-width: 37.5em) {
  #home{
    padding-top: 4.8em;
  }
 }
#home p{
  font-size: 19px;
  line-height: 42px;
}
.name{
  font-size: 52px;
}
.fa{
  margin-right: 8px;
  font-size: 19px;
}
.contact li, .address li{
  display: inline;
  padding: 0 18px;
  font-size: 18px;
  line-height: 39px !important;
}
input{
  font-size: 18px;
  padding: 6px 15px;
  border: 2px solid #52514F;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius:1 0px;
  cursor: pointer;
  background-color: #52514F;
  color: #F0F0F0;
}
input:hover{
  background-color: #F0F0F0;
  color: #52514F;
  font-weight: 600;
}
.depart a{
}
.contact a{
}
.contact a:hover{
  text-decoration: none;
  color: #E70006;
  border-bottom: 2px solid;
  padding-bottom: 2px;
}
@media (min-width: 0em) and (max-width: 37.5em) {
  .contact li, .address li{
    display: block;
    font-size: 15px;
  }
  #home p{
    font-size: 15px;
    line-height: 30px;
  }
  .name{
    font-size: 34px;
  }
  .fa{
    margin-right: 5px;
    font-size: 16px;
  }
}
@media (min-width: 37.6em) and (max-width: 48em) {
  .contact li{
    display: inline-block;
  }
}

.strip {
  width: 100%;
  padding-top: 7em;
  margin-bottom: -4em;
  padding-bottom: 2.5em; }
  @media (min-width: 37.6em) and (max-width: 48em) {

    .strip {
      margin-bottom: -3em;
      padding-top: 4.8em;
      padding-bottom: 0; } }
  @media (min-width: 0em) and (max-width: 37.5em) {

    .strip {
      margin-bottom: -2em;
      padding-top: 2.25em;
      padding-bottom: 2.25em; } }
blockquote{
  font-family: 'Gentium Book Basic', serif;
}
.content-txt {
  text-align: left;
  width: 45.75%;
  float: left;
  margin-right: 2%;
  display: inline; }

  .content-txt p {
    margin-top: 1.5em; }

  .content-txt blockquote {
    margin-top: 1.5em;
    font-style: italic; }
  @media (min-width: 48.1em) and (max-width: 64em) {

    .content-txt {
      width: 45.75%;
      float: left;
      margin-right: 2%;
      margin-left: 1.625%; } }
  @media (min-width: 37.6em) and (max-width: 48em) {

    .content-txt {
      width: 83%;
      float: left;
      margin-right: 2%; } }
  @media (min-width: 0em) and (max-width: 37.5em) {

    .content-txt {
      margin: 0;
      width: 91.5%;
      float: left;
      margin-right: 2%;
      margin-left: 3.25%;
      margin-right: 3.25%; } }

  .content-txt.omega {
    margin-right: 3.25%; }
    @media (min-width: 48.1em) and (max-width: 64em) {
      .content-txt.omega {
        margin-right: 1.625%;
        margin-left: 0%; } }
    @media (min-width: 37.6em) and (max-width: 48em) {

      .content-txt.omega {
        float: left;
        margin-right: 2%;
        margin-left: 8.5%; } }
    @media (min-width: 0em) and (max-width: 37.5em) {

      .content-txt.omega {
        float: left;
        margin-right: 2%; } }

.content-figure {
  width: 40.5%;
  float: left;
  margin-right: 2%;
  display: inline; }
  @media (min-width: 48.1em) and (max-width: 64em) {

    .content-figure {
      width: 45.75%;
      float: left;
      margin-right: 2%; } }
  @media (min-width: 37.6em) and (max-width: 48em) {

    .content-figure {
      width: 83%;
      float: left;
      margin-right: 2%; } }

  .content-figure.omega {
    margin-right: 3.25%; }
    @media (min-width: 48.1em) and (max-width: 64em) {

      .content-figure.omega {
        margin-right: 1.625%;
        margin-left: 0%; } }
    @media (min-width: 37.6em) and (max-width: 48em) {

      .content-figure.omega {
        float: left;
        margin-right: 2%;
        margin-left: 8.5%;
        margin-top: 3em; } }
    @media (min-width: 0em) and (max-width: 37.5em) {

      .content-figure.omega {
        float: right;
        margin-right: 0; } }
  @media (min-width: 0em) and (max-width: 37.5em) {

    .content-figure.push-one-col {
      margin-left: 0%; } }

.strip.bg-yellow {
  padding-top: 12em; }
  @media (min-width: 0em) and (max-width: 37.5em) {

    .strip.bg-yellow {
      padding-top: 8.25em; } }


.push-one-col {
  margin-left: 3.25%; }
  @media (min-width: 48.1em) and (max-width: 64em) {

    .push-one-col {
      margin-left: 1.625%; } }
  @media (min-width: 37.6em) and (max-width: 48em) {

    .push-one-col {
      margin-left: 8.5%; } }
  @media (min-width: 0em) and (max-width: 37.5em) {

    .push-one-col {
      margin-left: 3.25%; } }

@media (min-width: 0em) and (max-width: 37.5em) {

  .slider {
    width: 100%;
    float: left;
    margin-right: 2%;
    margin-top: 1.5em; } }

.label {
  background-color: white;
  position: relative;
  display: block;
  text-align: center;
  width: 15%;
  float: left;
  margin-right: 2%;
  display: inline;
  margin-left: 42.5%;
  margin-right: 42.5%;
  font-size: 0.875em;
  line-height: 1.71429em; }
  @media (min-width: 48.1em) and (max-width: 64em) {

    .label {
      width: 20.25%;
      float: left;
      margin-right: 2%;
      margin-left: 39.9%;
      margin-right: 39.9%; } }
  @media (min-width: 37.6em) and (max-width: 48em) {

    .label {
      width: 28.75%;
      float: left;
      margin-right: 2%;
      margin-left: 37.625%;
      margin-right: 37.625%; } }

label {
  display: block;
  margin-bottom: 0.3em; }
  
.omega {
  float: right;
  margin-right: 0;
  *margin-left: -2%;
  display: inline; }

.btn {
  border: 0.125em solid white;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media (min-width: 0em) and (max-width: 37.5em) {

    .btn {
      border: 0.1875em solid white; } }
      
.icon-menu:before {
  content: '\e804'; }

/* 05 - Media Files */
.photo{
  -moz-box-shadow: 0 0 8px #A9A9A9;
  -webkit-box-shadow: 0 0 8px #A9A9A9;
  box-shadow: 0 0 8px #A9A9A9;
}

.slider-frame {
  position: relative;
  height: 32.5em;
  width: 100%; }
  @media (min-width: 37.6em) and (max-width: 48em) {

    .slider-frame {
      height: 27.25em;
      width: 91.5%; } }
  @media (min-width: 0em) and (max-width: 37.5em) {
    .slider-frame {
      height: auto;
      width: 91.5%;
      float: left;
      margin-left: 0;
      margin-right: 0;
/*      margin-right: 2%;
      margin-left: 3.25%;
      margin-right: 3.25%; */} }

.slider-pagination {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -2%;
  display: inline;
  margin-top: 0.45em; }
  @media (min-width: 0em) and (max-width: 37.5em) {

    .slider-pagination {
      margin-top: 0.75em; } }

  .slider-pagination a {
    margin-right: 0.2em; }


.gallery-frame {
  position: relative; }

  .gallery-frame:nth-child(2n) {
    float: right;
    margin-right: 0; }

  .gallery-frame:first-child {
    margin-bottom: 1.8%; }
  @media (min-width: 0em) and (max-width: 37.5em) {

    .gallery-frame:nth-child(2n) {
      float: left;
      margin-right: 2%; }

    .gallery-frame:first-child {
      margin-bottom: 4%; }

    .gallery-frame.not-mobile {
      display: none; } }

.portrait-frame {
  width: 32%;
  float: left;
  margin-right: 2%;
  display: inline; }
  @media (min-width: 0em) and (max-width: 37.5em) {

    .portrait-frame {
      width: 91.5%;
      float: left;
      margin-right: 2%;
      margin-left: 3.25%;
      margin-right: 3.25%; } }

.landscape-frame {
  width: 66%;
  float: left;
  margin-right: 2%;
  display: inline; }
  @media (min-width: 0em) and (max-width: 37.5em) {

    .landscape-frame {
      width: 91.5%;
      float: left;
      margin-right: 2%;
      margin-left: 3.25%;
      margin-right: 3.25%; } }

.gallery {
  text-align: center;
  width: 100%;
  float: left;
  margin-right: 2%;
  display: inline;
  margin-top: 3em;
  float: right;
  margin-right: 0;
  *margin-left: -2%;
  display: inline; }

  .gallery a img {
    max-width: 100%;
    border: 0.625em solid #F0F0F0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .gallery-frame a:hover {
    text-decoration: none;
    border-bottom: none !important;
}
  .gallery-frame .title-overlay {
    text-align: center;
    position: absolute;
    margin-top: 80px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
}
}
  #gallery-frame .title-overlay span {
    color: white;
    background-color: rgba(0, 0, 0, .2);
    padding: 7px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
.gallery-frame a:hover > img {
    opacity: .1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)"; /* IE 8 */
    transition:opacity 0.8s;
    -moz-transition:opacity 0.8s; /* Firefox 4 */
    -webkit-transition:opacity 0.8s; /* Safari and Chrome */
    -o-transition:opacity 0.8s; /* Opera */
}
.gallery-frame a:hover > span.title-overlay {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; /* IE 8 */
}